/*.wrapper{*/
/*   display: flex;*/
/*}*/
/*.wrapper div{*/
/*    border: 1px solid red;*/
/*    margin-left: 50px;*/
/*    justify-content: center;*/
/*    */
/*}*/

.branding {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}


.App .card-img-overlay {
    padding-top: 270px;


}
.wrapper {
    max-width: 1240px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.15);
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}


@media ( max-width:1350px ) {
    .branding {
        display: none;
    }
    .App .card-img-overlay {
        padding-top: 0;
    }
}